.circles {
  margin-left: 32px;
  margin-top: 28px;
}
.longnumbers {
  margin-left: 32px;
  margin-top: 64px;
  color: var(--White, #fff);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Space Grotesk";
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 3.422px;
}
@media (max-width: 870px) {
  .circles {
    margin-left: 19px;
    margin-top: 17.5px;
    width: 54px;
    height: 30px;
    flex-shrink: 0;
  }
  .longnumbers {
    font-size: 18px;
    letter-spacing: 2.2px;
    margin-left: 19px;
    margin-top: 37px;
  }
}
