.leftdiv {
  width: 33.5%;
  height: 900px;
  flex-shrink: 0;
  background: #21092f;
  position: relative;
}
@media (max-width: 870px) {
  .leftdiv {
    width: 375px;
    height: 240px;
    flex-shrink: 0;
  }
}
