.bottomcard {
  width: 447px;
  height: 245px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(169deg, #fff 5%, #d2d3d9 91.69%);
  position: absolute;
  top: 469px;
  left: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blackline {
  width: 447px;
  height: 54px;
  flex-shrink: 0;
  background: #2f2f2f;
  margin-top: 23px;
}
.greyline {
  width: 361px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #adb5be;
  margin-top: 24px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.lines {
  margin-top: 33px;
}
.code {
  color: var(--White, #fff);
  text-align: right;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Space Grotesk";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 16px;
}
@media (max-width: 870px) {
  .bottomcard {
    left: 73px;
    top: 32px;
    width: 286px;
    height: 157px;
    flex-shrink: 0;
    z-index: 1;
  }
  .blackline {
    width: 286px;
    height: 34.604px;
    flex-shrink: 0;
    margin-top: 15px;
  }
  .greyline {
    width: 230.975px;
    height: 29.739px;
    flex-shrink: 0;
    margin-top: 15px;
  }
  .lines {
    display: none;
  }
  .code {
    margin-right: 9px;
    font-size: 9px;
    letter-spacing: 1.286px;
  }
}
