.uppercard {
  position: absolute;
  width: 447px;
  height: 245px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(164deg, #6348fe 4.74%, #610595 88.83%);
  top: 187px;
  left: 164px;
}
@media (max-width: 1000px) {
  .uppercard {
    width: 285px;
    height: 156.208px;
    flex-shrink: 0;
    left: 17px;
    top: 126.4px;
    z-index: 2;
  }
}
